*
    box-sizing: content-box
    margin: 0
    padding: 0


@mixin slider_arrow()
    height: 50%
    width: 5%
    position: absolute
    top: 25%
    background: lightbrown
    display: grid
    place-items: center

#main
    display: flex
    flex-direction: column
    width: 100%

    #header
        position: sticky
        top: 0px
        z-index: 20000

        #menu
            height: 100%
            width: 100%
            background: #ebe8d4da

            #navbar
                display: flex
                width: 100%
                height: 100%
                list-style: none
                justify-content: center

                .navbar_item
                    width: 15%
                    position: relative
                    padding: 20px
                    margin: 10px
                    display: grid
                    place-items: center

                    .underscore
                        position: absolute
                        bottom: 0
                        background: black
                        opacity: 0.6
                        height: 2px
                        width: 80%
                        display: none

                    .active
                        display: block

                .border
                    margin-top: 10px
                    background: black
                    opacity: 0.6
                    width: 5px

    #slider
        min-height: 400px
        height: 5rem
        width: 100%
        background: #d3cfc9da
        position: relative

        #slider_pointers
            position: absolute
            width: 100%
            bottom: 0
            display: flex
            justify-content: center

            .slider_pointer
                height: 10px
                width: 40px
                margin: 10px 5px
                background: black
                opacity: 0.4

        #slider_arrow_previous
            @include slider_arrow
            left: 3%

            img
                max-width: 100%
                height: auto

        #slider_arrow_next
            @include slider_arrow
            right: 3%

            img
                max-width: 100%
                height: auto
        .active
            opacity: 1 !important

    #content

        height: 2600px


        .active
            display: block !important

        #strona_glowna
            display: none

        #kolorowe-bloczki
            #kolorowe-bloczki-1
                background: linear-gradient(320deg, rgba(203,144,209,1) 0%, rgba(255,0,242,1) 100%)

            #kolorowe-bloczki-2
                background: linear-gradient(140deg, rgba(0,210,255,1) 0%, rgba(36,110,214,1) 70%)

            #kolorowe-bloczki-3
                background: linear-gradient(320deg, rgba(255,0,194,1) 0%, rgba(95,21,125,1) 70%)

            #kolorowe-bloczki-4
                background: linear-gradient(320deg,#f00 0%,#ee6315 100.65%) 100%

            #kolorowe-bloczki-5
                background: linear-gradient(320deg, rgba(43,255,0,1) 0%, rgba(46,83,25,1) 100%)

            #kolorowe-bloczki-6
                background: linear-gradient(320deg, rgba(255,91,0,1) 0%, rgba(255,211,0,1) 100%)

        .kolorowy-bloczek
            border-radius: 8px
            color: white

        .kolorowy-bloczek p
            text-align: center


        #technik_informatyk
            display: none

        #technik_elektronik
            display: none

        #technik_programista
            display: none

        #technik_teleinformatyk
            display: none

        .section_title
            text-align: center
            margin-top: 25px
            margin-bottom: 10vh

        .center_iframe
          display: flex
          justify-content: center

        .circle_photo
            img
                border-radius: 1000px
                width: 25vw
                border: 3px outset
                padding: 5px

        .section1
            background-color: #404040
            color: white
            margin-top: 10vh
            padding-bottom: 10vh
            padding-top: 5vh
            margin-right: 0

        .section2
            padding-top: 10vh
            padding-bottom: 10vh

        .section3
            background-color: #00AAB9
            padding-bottom: 50px


        .section3_2
            box-sizing: border-box

        .cel_k
            list-style-type: none

        .window
            background-color: blue
            width: 200px
            height: 200px

        .plan
            img
               width: 80%
        .waves

            display: block
            height: 300px
            background-repeat: repeat-x
            background-size: contain
            background-position: center center
            background-image: url

    @media (max-width: 810px)
      .section2
        display: flex
        flex-direction: column-reverse
        margin: 0 auto !important
      .text_direction
        width: 91.6666666667% !important
        .circle_photo
          width: 100% !important
          display: flex
          justify-content: center
          img
            width: 35vw
      .section3
        display: flex
        flex-direction: column
        margin: 0 auto !important
      .text_direction
        width: 91.6666666667% !important
        .circle_photo
          width: 100% !important
          display: flex
          justify-content: center
          img
            width: 35vw
      #offcanvasBottom
        height: 50vh !important

    #footer
        padding-top: 3vh
        height: 10vh
        background-color: #303030
        color: white
        height: 100%

        .header_footer
            color: purple
            font-size: 20px
            font-variant: small-caps

        ul
            list-style-type: none
            padding: 0

        li
             margin-bottom: 20px

        a
            text-decoration: none
            color: white

        #icons_footer
            text-align: center

        .fa
            margin: 20px

        .kontakt
            margin: 0
            margin-right:  15px
